type time_daemon, domain, domain_deprecated;
type time_daemon_exec, exec_type, file_type;

init_daemon_domain(time_daemon)

type time_data_file, file_type, data_file_type;
