on property:sys.boot_completed=1 && property:ro.build.type=user
    write /proc/sys/kernel/modules_disabled 1

on init && property:ro.boot.revision=EVM
    setprop ro.boot.hardware.revision 0.5

on init && property:ro.boot.revision=EVT0
    setprop ro.boot.hardware.revision 0.6

on init && property:ro.boot.revision=EVT1
    setprop ro.boot.hardware.revision 0.7

on init && property:ro.boot.revision=EVT2
    setprop ro.boot.hardware.revision 0.8

on init && property:ro.boot.revision=DVT
    setprop ro.boot.hardware.revision 1.0

on init && property:ro.boot.revision=MP0 # PVT
    setprop ro.boot.hardware.revision 1.0

on init && property:ro.boot.revision=MP1
    setprop ro.boot.hardware.revision 1.0

on boot && property:ro.build.type=userdebug
   write /sys/class/uio/uio1/device/rtel/rtel 1

on property:persist.vendor.charge.stop.level=* && property:sys.all.modules.ready=1
    write /sys/module/htc_battery/parameters/charge_stop_level ${persist.vendor.charge.stop.level}

on property:persist.vendor.charge.start.level=* && property:sys.all.modules.ready=1
    write /sys/module/htc_battery/parameters/charge_start_level ${persist.vendor.charge.start.level}
